{% load staticfiles %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-collapse-1">
                <span
                    class="glyphicon glyphicon-th-list"
                    style="color:white">
                </span>
            </button>
            <a href="/" class="navbar-brand custom-brand-logo">
                <img style="margin-top: 3px;"
                     src="{% static 'app/content/logo_small.png' %}">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% if 'admin' in request.path %}class="active"{% endif %}>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                <li class="dropdown
                    {% if 'student' in request.path %} active
                    {% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Students
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'add_student' %}">
                            Add student</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'students' %}">
                            Student list
                        </a></li>
                    </ul>
                </li>
                <li class="dropdown
                    {% if 'group' in request.path %} active
                    {% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Groups
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'groups' %}">
                            Student groups
                        </a></li>
                    </ul>
                </li>
                <li {% if 'tags' in request.path %}class="active"{% endif %}>
                    <a href="{% url 'tags' %}">Templatetags</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li {% if 'about' in request.path %}class="active"{% endif %}>
                    <a href="{% url 'about' %}">About</a>
                </li>
                <li {% if 'contact' in request.path %}class="active"{% endif %}>
                    <a href="{% url 'contact' %}">Contacts</a>
                </li>
                {% include 'app/loginpartial.html' %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>