{% extends 'app/layout.html' %}

{% load app_extras %}

{% block content %}
    <div class="jumbotron text-center">
    {% if user.is_authenticated %}
        <h3>Test tag on edit url with
            <a href="{% edit request.user %}">
                <strong>current user</strong></a> object</h3>
    {% endif %}
        <h3>Test tag on edit url with
            <a href="{% edit group %}">
                <strong>group id=1</strong></a> object</h3>
        <h3>Test tag on edit url with
            <a href="{% edit student %}">
                <strong>student id=1</strong></a> object</h3>
    </div>
{% endblock %}